<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Percolation</title>
   <link rel="stylesheet" href="/static/game.css">
</head>
<body>
  <div class="container">
    <canvas class="dots"></canvas>

    <div class="right">
      <label for="game_type">Game Type:</label>
      <select id="game_type">
        <option value="sandbox">Sandbox</option>
        <!--
        <option value="two_player">Two Player</option>
        <option value="single_player">Single Player</option>
        -->
      </select>

      <!--
      <label for="s_moves">Spreader Moves:</label>
      <input type="text" id="s_moves">

      <label for="b_moves">Blocker Moves:</label>
      <input type="text" id="b_moves">
      -->

      <label for="rows">Rows:</label>
      <input type="text"id="rows" value="3">

      <label for="cols">Columns:</label>
      <input type="text" id="cols" value="12">

      <label for="layers">Layers:</label>
      <input type="text" id="layers" value="2">

      <label for="neighbors">Neighbors:</label>
      <input type="text" id="neighbors" value="3">

      <input type="submit" id="submit">

      <input type="checkbox" id="animate" value="true" disabled>
      <label for="animate">Animate percolation</label>

      <button type="button" id="run" disabled>Run percolation</button>

      <p>
        <button class="arrow" id="left" disabled>&#8249;</button>
        <button class="arrow" id="right" disabled>&#8250;</button>
      </p>

      <label for="neighbors">How many dots?</label>
      <input type="text" id="num_rand" value="" disabled>

      <button type="button" id="randomize" disabled>Randomize</button>

      <h2 id="lower_bound">SA bound:</h2>
    </div>
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.min.js">
  </script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <!--
  <script src="/static/game.js" type="text/javascript"></script>
  -->
  <script src="/static/game.js" type="text/javascript"></script>
</body>
</html>